.cart {
  padding: 20px;
}

.cart__item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.cart__item img {
  width: 120px;
  object-fit: contain;
}

.cart__info {
  margin-left: 20px;
}
.cart__info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
