.home {
  padding: 20px;
}

.home__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productCard img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

button {
  pointer-events: auto;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cartCount {
  margin-left: 5px;
  font-weight: bold;
  color: #f08804;
}

.c {
  margin-left: 5px;
  font-weight: bold;
  color: #f08804;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartItem__info {
  margin-left: 20px;
}

.cartItem__info p {
  margin: 5px 0;
}

.cartItem__info h4 {
  margin-bottom: 10px;
}

.cartItem__removeButton {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  height: 30px;
  width: 100px;
}

.cartItem__removeButton:hover {
  background-color: #ddb347;
  cursor: pointer;
}

.cartItem__addButton {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  height: 30px;
  width: 100px;
  margin-left: 10px;
}

.cartItem__addButton:hover {
  background-color: #ddb347;
  cursor: pointer;
}

.cart__total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.cart__checkoutButton {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}

.cart__checkoutButton:hover {
  background-color: #ddb347;
  cursor: pointer;
}

.cart__emptyMessage {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

.home__noProducts {
  width: 100%;
  text-align: center;
  padding: 50px;
  color: #555;
}