.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: black;
}

.login__container {
  width: 350px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container h2 {
  margin-bottom: 20px;
}

.login__container h5 {
  margin-bottom: 5px;
}

.login__container input {
  width: 98%;
  height: 30px;
  margin-bottom: 10px;
}

.login__signInButton {
  width: 100%;
  height: 35px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  margin-top: 10px;
}

.login__registerButton {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border: 1px solid gray;
  background-color: #e7e9ec;
}
.login__registerButton:hover {
  background-color: #d6d9dc;
  cursor: pointer;
}
.login__signInButton:hover {
  background-color: #ddb347;
  cursor: pointer;
}
