.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.login__container {
  width: 300px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container form h5 {
  margin-bottom: 5px;
}

.login__container form input {
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.login__signInButton {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.login__registerButton {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.login__registerButton:hover {
  background-color: #f7f7f7;
}
.login__signInButton:hover {
  background-color: #e2b33c;
}
