.productDetail {
  padding: 20px;
}

.productDetail__container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.productDetail__container img {
  width: 250px;
  object-fit: contain;
}

.productDetail__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDetail__info button {
  width: 150px;
  padding: 8px;
  background: #f0c14b;
  border: 1px solid;
  cursor: pointer;
}
.productDetail__info button:hover {
  background-color: #e2b33c;
}
.productDetail__info h2 {
  font-size: 22px;
}
.productDetail__info p {
  font-size: 16px;
}
.productDetail__info .productDetail__price {
  font-size: 20px;
  font-weight: bold;
}
.productDetail__info .productDetail__rating {
  color: #f0c14b;
}
