.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  padding: 10px;
  color: white;
}

.logo {
  margin-right: 20px;
}

.search {
  flex: 1;
  padding: 5px;
}

.nav span {
  margin-left: 15px;
  cursor: pointer;
}
.cartCount {
  margin-left: 6px;
  font-weight: bold;
  color: #f08804;
}
.nav {
  display: flex;
  align-items: center;
}